.App {
  text-align: center;
  margin: 0;
  width: 100%;
}

.wrapper {
  text-align: center;
  width: 100%
}

.image-container {
 /* display: grid;*/
  /*grid-auto-rows: 1fr, 3fr, 2fr, 1fr;*/
  margin: 0;
  text-align: center;
}

/*.image-and-buttons-container{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr
}*/

.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 6%;
}

div.header {
  color: #564F4D;
  font-family: lato;
  font-style: regular;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 10%;
}

.image-swipe {
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}
.image-swipe img {
  max-width: 350px;
  max-height: 350px;
}

.description-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 500px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: lightgray;
  padding: 20px;
}

.footer-text {
  text-align: left

}


/* #button-left{
  width: 70px;
  height: 70px;
  position: relative;
  top: 40px;
  left: 80px;
  border-radius: 50%;
} */

/* #button-right{
  width: 70px;
  height: 70px;
  position: relative;
  top: 40px;
  right: 30px;
  border-radius: 50%;
} */

