.App {
  text-align: center;
}

.image-and-buttons-container{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr
}

.button-left{
  width: 70px;
  height: 70px;
  position: relative;
  top: 40px;
  left: 80px;
  border-radius: 50%;
}

.button-right{
  width: 70px;
  height: 70px;
  position: relative;
  top: 40px;
  right: 30px;
  border-radius: 50%;
}